*{
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}



.header{
    background-color: black
}

.logo{
    border: solid 1px;
    width: 400px;
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

#searchbtn{
    font-size: 16px;
    margin-right: 2rem;
}

.form{
    font-size: 20px;
}

#type{
    font-size: 15px;
    margin-right: 3rem;
}

.btn{
    font-size: 25px;
    margin: 4rem;
    display: flex;
    justify-content: center;
    
}

#cardButton{
    margin-right: 2rem;
    font-size: 1rem;
}

#yugiohcard{
    width: 1000px;
    border: solid 1px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-content: center;
    justify-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 
    20% 20% 1fr 20%
    20% 20% 1fr 20%
    20% 20% 1fr 20%
    20% 20% 1fr 20%
    20% 20% 20% 1fr;
}

.cardimg,
.cardimg2,
.cardimg3,
.cardimg4,
.cardimg5{
    border: solid 1px;
    margin-right: 3rem;
    grid-column: 1/2;
    grid-row: 1/5;
}

.cardimg2{
    margin-top: 4rem;
    grid-column: 1/2;
    grid-row: 5/9;
}

.cardimg3{
    margin-top: 4rem;
    grid-column: 1/2;
    grid-row: 9/13;
}

.cardimg4{
    margin-top: 4rem;
    grid-column: 1/2;
    grid-row: 13/17;
}

.cardimg5{
    margin-top: 4rem;
    grid-column: 1/2;
    grid-row: 18/22;
}

.cardtitle, 
.cardtitle2,
.cardtitle3,
.cardtitle4,
.cardtitle5{
    border: solid 1px;
    font-size: 2rem;
    grid-column: 2/4;
    grid-row: 1/2;
}

.cardtitle2{
    margin-top: 4rem;
    grid-column: 2/4;
    grid-row: 5/6;
}

.cardtitle3{
    margin-top: 4rem;
    grid-column: 2/4;
    grid-row: 9/10;
}

.cardtitle4{
    margin-top: 4rem;
    grid-column: 2/4;
    grid-row: 13/14;
}

.cardtitle5{
    margin-top: 4rem;
    grid-column: 2/4;
    grid-row: 18/19;
}

.cardtype,
.cardtype2,
.cardtype3,
.cardtype4,
.cardtype5{
    font-size: 1.25rem;
    font-weight: bold;
    border: solid 1px;
    grid-column: 2/4;
    grid-row: 2/3;
}

.cardtype2{
    grid-column: 2/4;
    grid-row: 6/7;
}

.cardtype3{
    grid-column: 2/4;
    grid-row: 10/11;
}

.cardtype4{
    grid-column: 2/4;
    grid-row: 14/15;
}

.cardtype5{
    grid-column: 2/4;
    grid-row: 19/20;
}

.carddesc,
.carddesc2,
.carddesc3,
.carddesc4,
.carddesc5{
    font-size: 1.25rem;
    border: solid 1px;
    grid-column: 2/4;
    grid-row: 3/4;
}

.carddesc2{
    grid-column: 2/4;
    grid-row: 7/8;
}

.carddesc3{
    grid-column: 2/4;
    grid-row: 11/12;
}

.carddesc4{
    grid-column: 2/4;
    grid-row: 15/16;
}

.carddesc5{
    grid-column: 2/4;
    grid-row: 20/21;
}

.atkpower,
.atkpower2,
.atkpower3,
.atkpower4,
.atkpower5{
    font-size: 1.5rem;
    font-weight: bold;
    border: solid 1px;
    grid-column: 2/3;
    grid-row: 4/5;
}

.atkpower2{
    grid-column: 2/3;
    grid-row: 8/9;
}

.atkpower3{
    grid-column: 2/3;
    grid-row: 12/13;
}

.atkpower4{
    grid-column: 2/3;
    grid-row: 16/17;
}

.atkpower5{
    grid-column: 2/3;
    grid-row: 21/22;
}

.defpower,
.defpower2,
.defpower3,
.defpower4,
.defpower5{
    font-size: 1.5rem;
    font-weight: bold;
    border: solid 1px;
    grid-column: 3/4;
    grid-row: 4/5;
}

.defpower2{
    grid-column: 3/4;
    grid-row: 8/9;
}

.defpower3{
    grid-column: 3/4;
    grid-row: 12/13;
}

.defpower4{
    grid-column: 3/4;
    grid-row: 16/17;
}

.defpower5{
    grid-column: 3/4;
    grid-row: 21/22;
}

.container{
    width: 100%;
    height: 100vh;
    background: #3c5077;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup{
    border: solid 2px;
    border-radius: 10px;
    margin: 0;
    width: 1000px;
    background: #ff3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0 30px 30px;
    visibility: hidden;
    transition:  transform 0.4s, top 0.4s;
}

.popup img{
    
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%);


}



#closepop{
    font-size: 20px;
}

.info{
    width: 900px;
    border: solid 1px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-content: center;
    justify-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 
    20% 20% 1fr 20%;
}