*{
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}



.header{
    background-color: black
}

.logo{
    border: solid 1px;
    width: 400px;
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

#searchbtn{
    font-size: 16px;
    margin-right: 2rem;
}

.form{
    font-size: 20px;
}

#type{
    font-size: 15px;
    margin-right: 3rem;
}

.btn{
    font-size: 25px;
    margin: 4rem;
    display: flex;
    justify-content: center;
    
}

#cardButton{
    margin-right: 2rem;
    font-size: 1rem;
}

#yugiohcard{
    width: 1000px;
    border: solid 1px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-content: center;
    justify-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30% 10% 1fr 20%;
}

.cardimg{
    border: solid 1px;
    margin-right: 3rem;
    grid-column: 1/2;
    grid-row: 1/5;
}

.cardtitle{
    border: solid 1px;
    font-size: 2rem;
    grid-column: 2/4;
    grid-row: 1/2;
}

.cardtype{
    font-size: 1.25rem;
    font-weight: bold;
    border: solid 1px;
    grid-column: 2/4;
    grid-row: 2/3;
}

.carddesc{
    font-size: 1.25rem;
    border: solid 1px;
    grid-column: 2/4;
    grid-row: 3/4;
}

.atkpower{
    font-size: 1.5rem;
    font-weight: bold;
    border: solid 1px;
    grid-column: 2/3;
    grid-row: 4/5;
}

.defpower{
    font-size: 1.5rem;
    font-weight: bold;
    border: solid 1px;
    grid-column: 3/4;
    grid-row: 4/5;
}